@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);
$Font-main: 'Spartan', sans-serif;

@mixin backgroundImage($path){
    background: url($path) no-repeat center center;
    background-size: cover;
}
@mixin flexColumn(){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
@mixin media-s{
    @media screen and (min-width: 550px){
        @content;
    }
}

@mixin media-md{
    @media screen and (min-width: 738px){
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width: 1054px){
        @content;
    }
}

@mixin media-height-s{
    @media screen and (max-width: 1024px) and (max-height: 744px){
        @content;
    }
}

@mixin media-height-lg{
    @media screen and (min-width: 1024px) and (max-height: 744px){
        @content;
    }
}
