.nav{
    min-height: 120px;
    width: 100%;
    display: flex;
    z-index: 1;
    position: relative;
    align-items: center;
    background-color: $White;
    padding: 0 5%;
    &__div{
        position: absolute;
        &__btn{
            background: url(../images/icon-hamburger.svg) no-repeat center center;
            border: none;
            width: 1rem;
            height: 1rem;
            background-color: transparent;
            cursor: pointer;
        }
        &__btn-close{
            background-image: url(../images/icon-close.svg);
            display: block;
            margin-top: -.1rem;
        }
        &__btn-open{
            display: none;
        }
    }
    &__logo{
        display: none;
    }
    &__ul{
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-left: 7.5%;
        &__li{
            position: relative;
            color: $Black;
            font-weight: 700;
            text-transform: lowercase;
            margin-left: 12.5%;
            font-size: clamp(.75rem, 3vw, 1rem);
            cursor: pointer;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 1.5rem;
                width: 100%;
                height: .1rem;
                background-color: $Black;
                transform: scale(0);
                transition: transform .35s ease;
            }
            &:hover::after{
                transform: scale(1);
            }
        }
    }
}

.open .nav {
    background-color: transparent;
    &__div{       
        &__btn-close{
            display: none;
        }
        &__btn-open{
            display: block;
        }
    }
    &__logo{
        text-align: center;
        width: 100%;
        color: $White;
        font-size: 1.4rem;
        display: inline-block;
    }
    &__ul{
        display: none;
    }
}

@include media-s{
    .header .nav {
        &__div{
            display: none;
        }
        &__logo{
            text-align: left;
            width: fit-content;
            margin-left: 2.5%;
        }
        &__ul{
            display: flex;
            justify-content: initial;
            &__li{
                color: $White;
                margin: 0 5% 0 0;

                &::after{
                    height: .15rem;
                    background-color: $White;
                }
            }
        }
    }
}

@include media-md{
    
    .header .nav__ul{
        margin-left: 3.5%;

        &__li{
            margin: 0 2.5% 0 0;
            font-weight: 500;
        }
    }
    .header .nav__logo{
        margin-left: 1%;
    }
}