@import 'config';
@import 'nav';
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: $Font-main;
    font-size: 12px;
}
