@import 'config';
@import 'nav';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: $Font-main;
    font-size: 12px;
}

main {
    margin-top: -120px;
}

.shop__body {
    position: relative;

    .shop__slider {
        position: relative;
        height: 50vh;
        width: 100%;
        overflow: hidden;

        .shop__holder {
            width: 300%;
            transform-style: preserve-3d;
            display: grid;
            grid-template-columns: repeat(3, auto);
            transition: transform .5s ease-in-out;

            .shop__slide {
                width: 100%;
                height: 50vh;
            }

            #slide-0 {
                @include backgroundImage('../images/mobile-image-hero-1.jpg');
            }

            #slide-1 {
                @include backgroundImage('../images/mobile-image-hero-2.jpg');
            }

            #slide-2 {
                @include backgroundImage('../images/mobile-image-hero-3.jpg');
            }
        }
    }
}

.info {
    padding: 15% 5%;
    height: 50vh;

    &__h1 {
        font-size: clamp(1.675rem, 2.5vw, 2.5rem);
    }

    &__p {
        color: $Dark-Gray;
        line-height: 1.75;
        margin: 1.25rem 0 2.5rem;
        font-weight: 500;
    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        vertical-align: middle;
        font-size: 1.15rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-weight: 500;
        transition: opacity .35s ease;

        img {
            margin-left: 1.25rem;
        }

        &:hover {
            opacity: .5;
        }
    }

    &__slide__btns {
        background-color: $Black;
        position: absolute;
        right: 0;
        top: 50vh;
        transform: translateY(-3.5rem);
    }
    &__slide__btn {
        height: 3.5rem;
        width: 3.5rem;
        background-color: $Black;
        margin: 0;
        border: none;
        transition: background-color .35s ease;
        cursor: pointer;

        &:hover {
            background-color: $Very-Dark-Gray;
        }
    }
    .js-info__slide {
        background-color: $Very-Dark-Gray;
    }
}

.about {
    &--bg-img {
        height: calc(100vh / 3);
        width: 100%;
        @include backgroundImage('../images/image-about-dark.jpg');
    }

    &__h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: .15rem;
        font-size: clamp(1.05rem, 1.25vw, 1.15rem);
    }

    &--bg-bottom {
        background-image: url(../images/image-about-light.jpg);
        position: relative;
    }

    &__article {
        padding: 12.5% 5%;

        .about__p {
            margin: initial;
        }
    }
}

.attribution {
    font-size: .55rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: .5rem;
    opacity: .75;


    a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        font-size: .5rem;
    }
}

@include media-s {

    .shop__body {

        .shop__slider {
            height: 60vh;

            .shop__holder {
                .shop__slide {
                    height: 60vh;
                }

            }

        }
    }

    .info {
        padding: 10% 5%;
        height: fit-content;

        &__slide__btns {
            top: 60vh;
        }
    }

    .about {
        &--bg-img {
            height: calc(100vh / 2.25);
            background-position: top;
        }
    }
}

@include media-md {


    .shop__body {

        .shop__slider {
            height: 70vh;

            .shop__holder {
                .shop__slide {
                    height: 70vh;
                }

                #slide-0 {
                    @include backgroundImage('../images/desktop-image-hero-1.jpg');
                }

                #slide-1 {
                    @include backgroundImage('../images/desktop-image-hero-2.jpg');
                }

                #slide-2 {
                    @include backgroundImage('../images/desktop-image-hero-3.jpg');
                }
            }

        }

        .info {
            margin: 0 auto;
            width: 80%;

            &__slide__btns {
                top: 70vh;
            }
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img-dark img-light"
            "article article";

        &--bg-img {
            height: calc(100vh / 3);
            background-position: top;
            grid-area: img-dark;
        }

        &__article {
            grid-area: article;
            width: 80%;
            margin: 0 auto;
            padding: 8.5% 5%;
        }

        &--bg-bottom {
            grid-area: img-light;
        }
    }
}

@include media-lg {

    .shop__body {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "slider info";

        .shop__slider {
            height: calc(100vh / 1.5);
            grid-area: slider;

            .shop__holder {
                .shop__slide {
                    height: calc(100vh / 1.5);
                }
            }
        }

        .info {
            grid-area: info;
            position: relative;
            width: 100%;
            @include flexColumn;
            padding: 15% 15% 5%;

            &__p {
                margin: 2.25rem 0;
            }

            &__slide__btns {
                top: calc(100vh / 1.5);
                transform: translateY(-4.5rem);
                right: initial;
                left: 0;
            }
            &__slide__btn {
                height: 4.5rem;
                width: 5.6275vw;
            }
        }
    }

    .about {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "img-dark article img-light";

        &--bg-img {
            height: calc(100vh / 3);
            background-position: top;
            grid-area: img-dark;
        }

        &__article {
            grid-area: article;
            padding: 5%;
            @include flexColumn;
            width: 100%;
            overflow: hidden;
        }

        &--bg-bottom {
            grid-area: img-light;
        }
    }
}
@include media-xl{
    .shop__body {
        .info {
            padding: 10% 12.5%;
        }
    }        
}

@include media-height-s {
    .about {
        &--bg-img {
            height: 250px;
        }
    }

    .shop__body .info {
        height: fit-content;
    }
}

@include media-height-lg {
    .shop__body {
        .shop__slider {
            height: 504px;

            .shop__holder {
                .shop__slide {
                    height: 504px;
                }
            }
        }

        .info {
            &__slide__btns {
                top: 504px;
            }
        }
    }

    .about {
        &--bg-img {
            height: auto;
        }
    }
}